﻿@model TunerMovie.Models.MoviesViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Movie Details</h2>
<script src="http://code.jquery.com/jquery-1.8.2.js" type="text/javascript"></script>
@Html.ValidationMessage("Error")
@if (Model != null)
{
    <div>
        <div style="width: 100%;">
            <p>
                Title : @Html.DisplayFor(model => model.TitleName)
            </p>
        </div>
        <div>
            @Html.ActionLink("Back to movie list", "Index", "Movie")
        </div>
        <div>
            <h2>Story Lines:</h2>
            <table>
                <tr>
                    <th>
                        Story Line
                    </th>
                    <th>
                        Language
                    </th>

                    <th>
                        Type
                    </th>

                </tr>
                @foreach (var item in Model.StoryLines)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div>
            <h2>
                Genre:
            </h2>

            <table>
                <tr><th colspan=@Model.Genres.Count>Genre Type</th></tr>
                <tr>
                    @foreach (var item in Model.Genres)
                    {
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                    }
                </tr>
            </table>


        </div>

        <div>
            <h2>
                Other Names:
            </h2>

            <table>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Language
                    </th>
                    <th>
                        Type
                    </th>

                </tr>
                @foreach (var item in Model.OtherNames)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TitleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TitleNameLanguage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TitleNameType)
                        </td>
                    </tr>
                }
            </table>


        </div>
        <div>
            <h2>
                Award:
            </h2>

            <table>
                <tr>
                    <th>
                        Award
                    </th>
                    <th>
                        Award Company
                    </th>
                    <th>
                        Award Won
                    </th>
                    <th>
                        Award Year
                    </th>
                </tr>
                @foreach (var item in Model.Awards)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Award1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AwardCompany)
                        </td>
                        @if (item.AwardWon == true)
                        {
                            <td>
                                Yes
                            </td>
                        }
                        else
                        {
                            <td>
                                No
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.AwardYear)
                        </td>
                    </tr>
                }
            </table>


        </div>
        <div>
            <h2>
                Participants:
            </h2>

            <table>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Type
                    </th>

                </tr>
                @foreach (var item in Model.Participants)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParticipantType)
                        </td>
                    </tr>
                }
            </table>


        </div>
    </div>
}

