﻿@model IEnumerable<TunerMovie.Models.MoviesViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Movie List</h2>

<script src="http://code.jquery.com/jquery-1.8.2.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#btnClear').click(function () {
            $('input[type=text]').each(function () {
                $(this).val('');
            })
        })
        $('#btnclr').click(function () {
            $('#SearchString').val('');
        })
    })
</script>
<div style="width:100%">
    @using (Html.BeginForm("Index", "Movie", FormMethod.Get))
    {
        <table >
            <tr>
                <td>Title: @Html.TextBox("SearchString")
                <td />
                <td><input type="submit" value="Search" /></td>
                <td><input type="button" name="btnclr" id="btnclr" value="Clear" /></td>
            </tr>
        </table>
    }
</div>
<br/>
<div>
    <table>
        <tr>
            <th>
                Title Name
            </th>

            <th>
               Release Year
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.TitleName, "Details", new { Id = item.TitleId })
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
            </tr>
        }

    </table>
</div>
<br />


